* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Nunito Sans", sans-serif;
}

.container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    margin-bottom: 216px;
    background-image: url(../img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1118px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.header li {
    list-style: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #252641;
}

.header__h1 {
    display: flex;
    position: relative;
}

.header_h1 {
    width: 83px;
    height: 83px;
    background: #65daff;
    transform: rotate(45deg);
}

.header__h1 h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.04em;
    color: #113c49;
    position: absolute;
    text-align: center;
}

.header button:nth-of-type(1) {
    border-radius: 80px;
    width: 160px;
    height: 60px;
    box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.03);
    background: #fff;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #6c6c6c;
}

.header button:nth-of-type(2) {
    border-radius: 80px;
    width: 160px;
    height: 60px;
    background: #f48c06;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0.02em;
    color: #fff;
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}

.header__bottom {
    margin-top: 216px;
}

.header__bottom span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 54px;
    color: #f48c06;
}

.header__bottom h2 {
    color: #2f327d;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 54px;
    margin-bottom: 34px;
}

.header__bottom p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #464646;
    margin-bottom: 52px;
}

.header__bottom button:nth-of-type(1) {
    border-radius: 80px;
    width: 220px;
    height: 80px;
    background: #f48c06;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.header__content {
    display: flex;
    align-items: center;
    gap: 20px;
}

img {
    width: 210px;
    display: block;
}

.header__content a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: #252641;
    text-decoration: none;
}

.hero {
    margin-bottom: 160px;
}

.hero h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #696984;
    margin-bottom: 33px;
    text-align: center;
}

.hero__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}

.software {
    margin-bottom: 158px;
}

.software__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.software h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #2f327d;
    text-align: center;
    margin-bottom: 20px;
}

.software span {
    color: #f48c06;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
}

.software p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #696984;
    margin-bottom: 160px;
}

.software__card {
    box-shadow: 0 10px 60px 0 rgba(38, 45, 118, 0.08);
    background: #fff;
    border-radius: 20px;
    width: 450px;
    height: 470px;
    padding-bottom: 50px;
}

.software__card img {
    margin: 0 auto;
}

.software__card h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #2f327d;
    margin-bottom: 24px;
}

.software__card p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #696984;
}

.skilline {
    margin-bottom: 160px;
}

.skilline h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 44px;
    line-height: 180%;
    text-align: center;
    color: #2f327d;
}

.skilline span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 44px;
    line-height: 180%;
    text-align: center;
    color: #f48c06;
    margin-bottom: 20px;
}

.skilline p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #696984;
    margin-bottom: 80px;
}

.skilline__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.skilline__card:nth-of-type(1) {
    background-image: url(./img/skilline1.png);
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 20px;
}

.skilline__card:nth-of-type(2) {
    background-image: url(./img/skilline2.png);
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    border-radius: 20px;
}

.skilline__card h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-top: 132px;
    margin-bottom: 17px;
}

.skilline__card button {
    border: 1px solid #fff;
    border-radius: 80px;
    width: 283px;
    height: 80px;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.classroom {
    margin-bottom: 180px;
}

.classroom__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
}

.classroom img {
    width: 705px;
    height: 471px;
}

.classroom__content h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    color: #2f327d;
    margin-bottom: 30px;
}

.classroom__content span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    color: #f48c06;
}

.classroom__content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    margin-bottom: 30px;
    width: 730px;
    height: 172px;
}

.classroom__content a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #696984;
}

.features h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #2f327d;
    text-align: center;
}

.features span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    color: #f48c06;
    margin-bottom: 20px;
}

.features p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #696984;
    margin-bottom: 100px;
}

.features__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 126px;
}

.features__wrapper img {
    width: 896px;
    height: 522px;
}

.features__paragraf img {
    width: 26px;
    height: 26px;
}

.features__content h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #2f327d;
    margin-bottom: 51px;
    margin-top: 217px;
    width: 542px;
    height: 128px;
}

.features__paragraf {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 42px;
}

.features__paragraf p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 443px;
    height: 80px;
}

.tools {
    margin-top: 160px;
    margin-bottom: 160px;
}

.tolls__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 236px;
}

.tools__content span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #f48c06;
}

.tools__content h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #2f327d;
    margin-bottom: 20px;
}

.tools__content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 568px;
    height: 160px;
}

.tolls__wrapper img {
    width: 637px;
    height: 611px;
}

.tesst {
    margin-bottom: 160px;
}

.tesst__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 248px;
}

.tesst img {
    width: 616px;
    height: 651px;
}

.tesst__content h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #2f327d;
    margin-bottom: 20px;
}

.tesst__content span {
    color: #f48c06;
}

.tesst__content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 596px;
    height: 120px;
}

.management {
    margin-bottom: 160px;
}

.management__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.management img {
    width: 808px;
    height: 559px;
}

.management h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #f48c06;
    margin-bottom: 20px;
}

.management span {
    color: #2f327d;
}

.management p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
    width: 645px;
    height: 159px;
}

.oneone {
    margin-bottom: 150px;
}

.oneone__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
}

.oneone img {
    width: 755px;
    height: 499px;
}

.oneone__content h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 160%;
    color: #2f327d;
    margin-bottom: 20px;
}

.oneone__content span {
    color: #f48c06;
}

.oneone__content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
}

.oneone button {
    border: 1px solid #f48c06;
    border-radius: 80px;
    width: 280px;
    height: 80px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #f48c06;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    margin-top: 169px;
    display: block;
}
